html {
  scroll-behavior: smooth; }

body {
  widows: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: arvo; }
  body #stickyNav {
    width: 10vw;
    height: 8vh;
    border-radius: 5px;
    position: fixed;
    top: 1vh;
    right: 1vh;
    z-index: 4;
    display: flex;
    background-color: rgba(0, 0, 0, 0.445); }
    body #stickyNav div {
      width: 2vw;
      height: 2vw;
      border-left: 0.1vw solid rgba(255, 255, 255, 0.6);
      border-top: 0.1vw solid rgba(255, 255, 255, 0.6);
      transform: rotate(45deg);
      position: relative;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3.5vh; }
  body #introContainer {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #ecdcdc;
    background-image: linear-gradient(#e0474c 39.9%, #7acfd6 40%);
    background-size: cover;
    background-position: center;
    z-index: 5; }
    body #introContainer #name {
      font-family: Arvo;
      font-weight: normal;
      height: 100%;
      display: flex;
      transition: 0.5s ease-in-out;
      color: #e0474c; }
      body #introContainer #name h1 {
        margin: auto;
        font-size: 5vw;
        letter-spacing: 1vw;
        font-weight: normal; }
    body #introContainer #tab {
      width: 10vw;
      height: 8vh;
      border-radius: 5px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      margin-left: auto;
      margin-right: auto;
      display: flex;
      background-color: black;
      opacity: 0.5;
      cursor: pointer; }
      body #introContainer #tab #arrow {
        width: 2vw;
        height: 2vw;
        border-left: 0.1vw solid rgba(255, 255, 255, 0.6);
        border-top: 0.1vw solid rgba(255, 255, 255, 0.6);
        transform: rotate(45deg);
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3.5vh; }
    body #introContainer #nav {
      width: 100vw;
      height: 25vh;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      background-color: #dddddd;
      box-shadow: inset 0 0 20px -10px black;
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.5s ease-in-out;
      font-family: poppins;
      font-size: 1.8vw;
      font-weight: normal; }
      body #introContainer #nav .navItem {
        flex: 1;
        height: 100%;
        display: flex; }
        body #introContainer #nav .navItem a {
          margin: auto;
          color: #224550;
          text-decoration: none;
          transition: 0.5s ease-in-out; }
          body #introContainer #nav .navItem a:hover {
            transition: 0.1s ease-in-out;
            transform: translateY(-0.5vh); }
          body #introContainer #nav .navItem a :visited {
            color: #224550;
            text-decoration: none; }
  body #mainContentContainer {
    width: 100vw;
    height: auto;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; }
    body #mainContentContainer #researchTitleBar {
      box-shadow: 0 15px 15px -20px black; }
    body #mainContentContainer .titleBar {
      width: 100vw;
      height: 40vh;
      display: flex;
      background-image: linear-gradient(20deg, #e0474c30 0 49.9%, #7acfd650 50%);
      box-shadow: 0 0 15px -5px black; }
      body #mainContentContainer .titleBar h1 {
        margin: auto;
        font-size: 8vh;
        background: -webkit-linear-gradient(70deg, #80dde4 49%, #e6494e 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
    body #mainContentContainer #educationDesc {
      background-image: linear-gradient(#f3f3f3 5%, 5%, #fdfdfd 100%); }
    body #mainContentContainer .description {
      width: 100vw;
      min-height: 70vh;
      height: auto;
      box-sizing: border-box;
      padding-left: 5vw;
      padding-right: 5vw;
      padding-top: 10vh;
      padding-bottom: 10vh;
      position: relative;
      display: flex;
      background-image: linear-gradient(#f3f3f3 5%, 5%, #fdfdfd 95%, 95%, #f3f3f3 100%);
      font-family: open sans condensed; }
      body #mainContentContainer .description .text {
        box-sizing: border-box;
        padding: 5vw;
        margin: auto;
        flex: 1;
        font-size: calc(14px + (6) * (100vw - 768px) / (1920 - 768));
        text-indent: 5vw;
        background-color: #ffffff; }
      body #mainContentContainer .description .divider {
        width: 2px;
        height: 80%;
        background-image: linear-gradient(transparent 0%, #e0474c 10%, 95%, transparent 100%);
        position: absolute;
        left: 50%;
        top: 10%;
        z-index: 100; }
    body #mainContentContainer #footer {
      width: 100vw;
      height: auto;
      padding-bottom: 10vh;
      display: flex;
      justify-content: space-evenly;
      background-color: white;
      font-family: open sans condensed; }
      body #mainContentContainer #footer #contactContainer {
        font-size: calc(12px + (10) * (100vw - 768px) / (1920 - 768));
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #5c5c5c; }
        body #mainContentContainer #footer #contactContainer #phoneNumber {
          display: flex;
          margin-bottom: 3vh;
          align-items: center;
          font-family: fjalla one;
          letter-spacing: 0.1vh; }
          body #mainContentContainer #footer #contactContainer #phoneNumber #iPhoneIcon {
            background-image: url(resumeImages/iPhoneIcon2.svg);
            background-size: 45px, 65px;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 10px;
            width: 70px;
            height: 60px; }
        body #mainContentContainer #footer #contactContainer #email {
          display: flex;
          margin-top: 3vh;
          align-items: center;
          font-family: fjalla one;
          letter-spacing: 0.1vh; }
          body #mainContentContainer #footer #contactContainer #email #mailIcon {
            background-image: url(resumeImages/mailIcon.svg);
            background-size: 65px, 45px;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 10px;
            width: 70px;
            height: 40px; }
      body #mainContentContainer #footer #contactForm p {
        margin-bottom: -5vh;
        font-size: calc(20px + (10) * (100vw - 768px) / (1920 - 768));
        font-family: fjalla one; }
      body #mainContentContainer #footer #contactForm form input[type=text] {
        width: 20vw;
        border: none;
        border-bottom: 1px solid #c5c5c5;
        padding: 10px;
        margin-top: 10vh;
        font-family: open sans condensed;
        font-size: calc(15px + (10) * (100vw - 768px) / (1920 - 768)); }
        body #mainContentContainer #footer #contactForm form input[type=text]::placeholder {
          color: #b9b9b9; }
        body #mainContentContainer #footer #contactForm form input[type=text]:focus {
          outline: none;
          border-bottom: 1px solid gray; }
      body #mainContentContainer #footer #contactForm form input[type=submit] {
        padding: calc(10px + (10) * (100vw - 768px) / (1920 - 768));
        width: 100px;
        border: none;
        margin-top: 8vh;
        background-color: #80dde4;
        border-radius: 30px;
        font-size: 20px;
        font-family: open sans condensed;
        cursor: pointer; }
        body #mainContentContainer #footer #contactForm form input[type=submit]:focus {
          box-shadow: 0 0 15px -10px black;
          outline: none;
          transform: translateY(-1px); }
  body #researchImage {
    background-image: url(resumeImages/researchTable1500x936.jpg); }
  body #webDesignImage {
    background-image: url(resumeImages/webDesign1400x935.jpg); }
  body #educationImage {
    background-image: url(resumeImages/libraryBooks1500x1126.jpg); }
  body .bannerImg {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -100; }

/*# sourceMappingURL=resume.css.map */
