html {
  scroll-behavior: smooth;
  overflow-y: hidden; }

body {
  widows: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  font-family: arvo, sans-serif; }
  body #stickyNav {
    width: 10vw;
    height: 8vh;
    border-radius: 5px;
    position: fixed;
    top: 1vh;
    right: 1vh;
    z-index: 4;
    display: flex;
    background-color: rgba(0, 0, 0, 0.445); }
    body #stickyNav div {
      width: 2vw;
      height: 2vw;
      border-left: 0.1vw solid rgba(255, 255, 255, 0.6);
      border-top: 0.1vw solid rgba(255, 255, 255, 0.6);
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      position: relative;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3.5vh; }
  body #introContainer {
    width: 100vw;
    height: 100vh;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #ecdcdc;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(39.9%, #e0474c), color-stop(40%, #7acfd6));
    background-image: -o-linear-gradient(#e0474c 39.9%, #7acfd6 40%);
    background-image: linear-gradient(#e0474c 39.9%, #7acfd6 40%);
    background-size: cover;
    background-position: center;
    z-index: 5; }
    body #introContainer #name {
      font-weight: normal;
      height: 100%;
      position: relative;
      display: flex;
      color: #e0474c;
      -webkit-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      font-family: Arvo, sans-serif; }
      body #introContainer #name h1 {
        margin: auto;
        font-size: calc(40px + (30) * (100vw - 768px) / (1920 - 768));
        letter-spacing: 1vw;
        font-weight: normal; }
    body #introContainer #tab {
      width: 12vw;
      min-width: 150px;
      height: 8vh;
      min-height: 80px;
      border-radius: 5px;
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      margin-left: auto;
      margin-right: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background-color: black;
      opacity: 0.5;
      cursor: pointer; }
      body #introContainer #tab #arrow {
        width: 3vw;
        min-width: 40px;
        height: 3vw;
        min-height: 40px;
        border-left: 0.1vw solid rgba(255, 255, 255, 0.6);
        border-top: 0.1vw solid rgba(255, 255, 255, 0.6);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4vh; }
    body #introContainer #nav {
      width: 100vw;
      height: 25vh;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      background-color: #dddddd;
      -webkit-box-shadow: inset 0 0 20px -10px black;
      box-shadow: inset 0 0 20px -10px black;
      position: relative;
      z-index: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      font-family: poppins, sans-serif;
      font-size: calc(22px + (10) * (100vw - 768px) / (1920 - 768));
      font-weight: normal; }
      body #introContainer #nav .navItem {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-decoration: none;
        -webkit-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out; }
        body #introContainer #nav .navItem :visited {
          color: #224550;
          text-decoration: none; }
        body #introContainer #nav .navItem:hover {
          -webkit-transition: 0.1s ease-in-out;
          -o-transition: 0.1s ease-in-out;
          transition: 0.1s ease-in-out;
          -webkit-transform: translateY(-0.5vh);
          -ms-transform: translateY(-0.5vh);
          transform: translateY(-0.5vh); }
        body #introContainer #nav .navItem div {
          margin: auto;
          color: #224550; }
  body #mainContentContainer {
    width: 100vw;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative; }
    body #mainContentContainer #researchTitleBar {
      -webkit-box-shadow: 0 15px 15px -20px black;
      box-shadow: 0 15px 15px -20px black; }
    body #mainContentContainer .titleBar {
      width: 100vw;
      height: 40vh;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background-image: -o-linear-gradient(70deg, #e0474c30 0 49.9%, #7acfd650 50%);
      background-image: linear-gradient(20deg, #e0474c30 0 49.9%, #7acfd650 50%);
      -webkit-box-shadow: 0 0 15px -5px black;
      box-shadow: 0 0 15px -5px black; }
      body #mainContentContainer .titleBar h1 {
        margin: auto;
        font-size: 8vh;
        background: -webkit-linear-gradient(70deg, #80dde4 49%, #e6494e 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
    body #mainContentContainer #educationDesc {
      background-image: -o-linear-gradient(#f3f3f3 5%, 5%, #fdfdfd 100%);
      background-image: linear-gradient(#f3f3f3 5%, 5%, #fdfdfd 100%);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #f3f3f3), color-stop(5%), to(#fdfdfd)); }
    body #mainContentContainer .description {
      width: 100vw;
      min-height: 70vh;
      height: auto;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding-left: 5vw;
      padding-right: 5vw;
      padding-top: 10vh;
      padding-bottom: 10vh;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #f3f3f3), color-stop(5%), color-stop(95%, #fdfdfd), color-stop(95%), to(#f3f3f3));
      background-image: -o-linear-gradient(#f3f3f3 5%, 5%, #fdfdfd 95%, 95%, #f3f3f3 100%);
      background-image: linear-gradient(#f3f3f3 5%, 5%, #fdfdfd 95%, 95%, #f3f3f3 100%);
      font-family: open sans condensed, sans-serif; }
      body #mainContentContainer .description .text {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 5vw;
        margin: auto;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        font-size: calc(18px + (6) * (100vw - 768px) / (1920 - 768));
        text-indent: 5vw;
        background-color: #ffffff; }
        body #mainContentContainer .description .text a {
          color: #449aa0;
          font-weight: bold;
          cursor: pointer; }
          body #mainContentContainer .description .text a:visited {
            color: #449aa0; }
      body #mainContentContainer .description .divider {
        width: 2px;
        height: 80%;
        background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(10%, #e0474c), color-stop(95%), to(transparent));
        background-image: -o-linear-gradient(transparent 0%, #e0474c 10%, 95%, transparent 100%);
        background-image: linear-gradient(transparent 0%, #e0474c 10%, 95%, transparent 100%);
        position: absolute;
        left: 50%;
        top: 10%;
        z-index: 100; }
    body #mainContentContainer #footer {
      width: 100vw;
      height: auto;
      padding-bottom: 10vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      background-color: white;
      font-family: open sans condensed, sans-serif; }
      body #mainContentContainer #footer #contactContainer {
        font-size: calc(18px + (5) * (100vw - 768px) / (1920 - 768));
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        justify-content: center;
        color: #5c5c5c; }
        body #mainContentContainer #footer #contactContainer #phoneNumber {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin-bottom: 3vh;
          align-items: center;
          font-family: fjalla one, sans-serif;
          letter-spacing: 0.1vh; }
          body #mainContentContainer #footer #contactContainer #phoneNumber #iPhoneIcon {
            background-image: url(resumeImages/iPhoneIcon2.svg);
            background-size: 45px, 65px;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 10px;
            width: 70px;
            height: 60px; }
        body #mainContentContainer #footer #contactContainer #email {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin-top: 3vh;
          align-items: center;
          font-family: fjalla one, sans-serif;
          letter-spacing: 0.1vh; }
          body #mainContentContainer #footer #contactContainer #email #mailIcon {
            background-image: url(resumeImages/mailIcon.svg);
            background-size: 65px, 45px;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 10px;
            width: 70px;
            height: 40px; }
      body #mainContentContainer #footer #contactForm p {
        margin-bottom: -5vh;
        font-size: calc(22px + (8) * (100vw - 768px) / (1920 - 768));
        font-family: fjalla one, sans-serif; }
      body #mainContentContainer #footer #contactForm form input[type=text] {
        width: 20vw;
        min-width: 250px;
        min-height: 60px;
        border: none;
        border-bottom: 1px solid #c5c5c5;
        padding: 10px;
        margin-top: 10vh;
        font-family: open sans condensed, sans-serif;
        font-size: calc(20px + (10) * (100vw - 768px) / (1920 - 768)); }
        body #mainContentContainer #footer #contactForm form input[type=text]::placeholder {
          color: #b9b9b9;
          font-size: calc(20px + (5) * (100vw - 768px) / (1920 - 768)); }
        body #mainContentContainer #footer #contactForm form input[type=text]:focus {
          outline: none;
          border-bottom: 1px solid gray; }
      body #mainContentContainer #footer #contactForm form input[type=submit] {
        padding: calc(10px + (10) * (100vw - 768px) / (1920 - 768));
        width: 100px;
        border: none;
        margin-top: 8vh;
        background-color: #80dde4;
        border-radius: 30px;
        font-size: 20px;
        font-family: open sans condensed, sans-serif;
        cursor: pointer; }
        body #mainContentContainer #footer #contactForm form input[type=submit]:focus {
          box-shadow: 0 0 15px -10px black;
          outline: none;
          -webkit-transform: translateY(-1px);
          -ms-transform: translateY(-1px);
          transform: translateY(-1px); }
  body #researchImage {
    background-image: url(resumeImages/researchTable1500x936.jpg); }
  body #webDesignImage {
    background-image: url(resumeImages/webDesign1400x935.jpg); }
  body #educationImage {
    background-image: url(resumeImages/libraryBooks1500x1126.jpg); }
  body .bannerImg {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -100; }

@media screen and (max-width: 768px) {
  body {
    overflow-y: hidden; }
    body #stickyNav {
      display: none; }
    body #introContainer #name {
      height: 75vh; }
      body #introContainer #name h1 {
        margin-top: 45vh !important; }
    body #introContainer #nav {
      height: 50vh;
      display: none;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-shadow: none;
      box-shadow: none; }
      body #introContainer #nav .navItem {
        flex: auto;
        height: 25vh;
        width: 40vw;
        -webkit-box-shadow: inset 0 0 20px -12px #8d8d8d;
        box-shadow: inset 0 0 20px -12px #8d8d8d; }
        body #introContainer #nav .navItem:hover {
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0); }
    body #introContainer #tab {
      height: 15vh;
      width: 20vw; }
      body #introContainer #tab #arrow {
        width: 8vw;
        height: 8vw;
        margin-top: 6vh; }
    body #mainContentContainer .titleBar #researchImage_mobile {
      background-image: url(resumeImages/researchTable800x499.jpg); }
    body #mainContentContainer .titleBar #webDesignImage_mobile {
      background-image: url(resumeImages/webDesign800x534.jpg); }
    body #mainContentContainer .titleBar #educationImage_mobile {
      background-image: url(resumeImages/libraryBooks800x601.jpg); }
    body #mainContentContainer .titleBar .bannerImg_mobile {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -100;
      background-size: cover;
      background-position: center; }
    body #mainContentContainer .description {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      body #mainContentContainer .description .divider {
        display: none; }
    body #footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      body #footer #contactContainer {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        body #footer #contactContainer div#phoneNumber {
          margin: 0 !important; }
          body #footer #contactContainer div#phoneNumber div#iPhoneIcon {
            margin-right: 0 !important;
            -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
            transform: scale(0.8); }
        body #footer #contactContainer div#email {
          margin: 0 !important; }
          body #footer #contactContainer div#email div#mailIcon {
            margin: 0 !important;
            -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
            transform: scale(0.8); }
      body #footer #contactForm {
        margin-left: 5vw;
        margin-top: 10vh; }
        body #footer #contactForm form input[type=text] {
          padding: 0 !important; }
    body .bannerImg {
      display: none; } }
@media screen and (min-width: 2000px) {
  body #researchImage {
    background-image: url(resumeImages/researchTable2405x1500.jpg); }
  body #webDesignImage {
    background-image: url(resumeImages/webDesign2247x1500.jpg); }
  body #educationImage {
    background-image: url(resumeImages/libraryBooks2400x1802.jpg); } }

/*# sourceMappingURL=resume.css.map */
